<!--- NOTES FOR EDITING:
--------------------------------------------------

1) Please DON"T restructure HTML w/o some sort of conversation - particularly towards semantics
**** ADDITIONS GOOD

2) IDs / Classes can be changed as needed 

3) Personal preferance to assign classes for CSS work only.

4) Hold IDs for things requiring Jscript actions only 
when possible. 


PLEASE ADDRESS USE OF IDs on NEXTROUND OF CSS
------------------------------------------------->

<h2> BOOKMARKS COMING </h2>

<ul>
    <li ng-repeat="article in news | orderBy:'-published' | filter: pancake">
        
        <a href="{{ article.link }}"> <img ng-src="../resource/globe.png"/> </a>
        
        <section id="stories">
            
            <p id="title"><a href="{{ article.link }}"> {{ article.title }} </a></p>
            
            <img src="../resource/delete.png" ng-click="clickSendID( article.id )">
            
            <p id="published">Published {{ article.published | fromNow }}...</p>
            
            <!--- So Far as I can tell, no summary is available from the API  -->
            <p> Summary ?? is </p>
        
        </section> 

    </li>s
</ul>